.material-symbols-outlined {
    margin-left: 50px;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/*background*/

html{
    height: 100%;
}

body
{
    background: linear-gradient(#2B2929, #CB0B0B);
    background-repeat: no-repeat;
}

/*responsive*/

@media only screen and (min-width: 321px) and (max-width: 799px)
{
    body {
        width: 100%;
        font-size: 0.9em;
        position: absolute;
    }
}

@media screen and (max-width: 1000px)
{
    body {
        height: 100%;
    }
}



/*Detail_activité*/


.video_placement
{
    margin-left: auto;
    margin-right: auto;
}

/*
.button_finish{
    margin-top: 25px;
    margin-bottom: auto;

    background-color: #2B2929; 
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
} */

.coin-arrondi{
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
  }

.lien {
    text-decoration: none;
    color: #fff;
}

.case{
    background-image: url("assets/echauffement.jpg");
}

.case > h3{
    color: #000;
    text-transform: capitalize;
    font-weight: bold;
    font-size:xx-large;
}

.categorie{
    text-align: center;
    background-color: #fff;
    margin-top: 10px;
}

.nom_categ{
    color: #000;
}
  