.material-symbols-outlined {
    margin-left: 50px;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/*background*/

html{
    height: 100%;
}

body
{
    background: linear-gradient(#2B2929, #CB0B0B);
    background-repeat: no-repeat;
}

/*responsive*/

@media only screen and (min-width: 321px) and (max-width: 799px)
{
    body {
        width: 100%;
        font-size: 0.9em;
        position: absolute;
    }
}

@media screen and (max-width: 1000px)
{
    body {
        height: 100%;
    }
}



/*Detail_activité*/


.video_placement
{
    margin-left: auto;
    margin-right: auto;
}

/*
.button_finish{
    margin-top: 25px;
    margin-bottom: auto;

    background-color: #2B2929; 
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
} */

.coin-arrondi{
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
  }

.lien {
    text-decoration: none;
    color: #fff;
}

.case{
    background-image: url("assets/echauffement.jpg");
}

.case > h3{
    color: #CB0B0B;
    text-transform: capitalize;
    font-weight: bold;
    font-size:xx-large;
    font-style: italic;
    text-align: center;
}

.categorie{
    text-align: center;
    background-color: #fff;
    margin-top: 10px;
}

.nom_categ{
    color: #000;
}

.chat-bubble {
    position: relative;
    width: 8em;
    margin: .5em auto;/* hz centered */
    padding: .5em;
    background-color: #EDEDED;
    border: 2px solid #666;
    border-radius: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 1.5em #777;
  }
  .chat-bubble-arrow-border {
    position: absolute;
    bottom: -2em;
    left: 1.5em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em;
    border-color: #666 transparent transparent transparent;
  }
  .chat-bubble-arrow {
    border-color: #EDEDED transparent transparent transparent;
    border-style: solid;
    border-width: 1em;
    height:0;
    width:0;
    position:absolute;
    bottom: -1.87em;
    left: 1.5em;
  }
  
  .cont {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    width: 90%;
    margin: auto;
    margin-top: 90%;
  }
  
  
  #avatar {
    display: absolute;
    transition: all 0.75s ease-in;
    transform: translateY(0);
    z-index: 10;
    cursor: pointer;
  }
  
  #avatar img {
    border-radius: 100%;
    border: 4px solid var(--primary-color);
    width: 128px;
    height: 128px;
  }
  
  #author {
    position: absolute;
    display: block;
    text-align: center;
    margin: 0 auto;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: var(--primary-color);
    padding: 1rem;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    cursor: pointer;
  }
  
  #author h3 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.25rem;
  }
  
  #author p {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.875rem;
    color: #fff;
  }
  
  #author.moveUp {
    padding: 4rem 1rem;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }
  