.material-symbols-outlined {
    margin-left: 50px;

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

/*background*/

html{
    height: 100%;
}

body
{
  height: 100%;
  width: 100%;
  background-color: #28282d;
}

.bg-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #494848;
  width: 100%;
  height: 50%;
  border-bottom-right-radius: 80px;
}

.accueil-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.btn-wrapper {
  margin-top: 20px;
	background-color:#ffffff;
	border-radius:20px;
	cursor:pointer;
	font-size:18px;
	padding:10px 10px;
  text-align: center;
}

.btn-wrapper a {
	color:#000000;
	text-decoration:none;
}


.connexion-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 15px 15px 0px 15px;
}

.img-top {
  text-align: right;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gap-4 {
  row-gap: 4rem;
}

.gap-2 {
  row-gap: 2rem;
}

.w-80 {
  width: 80%;
}

.form-container input {
  width: 100% !important;
	background-color:#ffffff;
	border-radius:15px;
	font-size:18px;
	padding: 10px 5px;
  border: none;
}

.red-text {
  text-align: left !important;
  color: #CB0B0B;
}

.connexion-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;

  padding-bottom: 80px;
}

.connexion-btn .btn-wrapper {
	background-color:#ffffff;
	border-radius:20px;
	cursor:pointer;
	font-size:18px;
	padding:10px 55px;
  text-align: center;
}

.training-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mb-80 {
  margin-bottom: 80px;
}

.training-wrapper {
  padding: 0px 50px;
}

.training-card {
  padding: 20px 20px 5px;
  border-radius: 15px;
  background-color: #494848;
}

.text-default {
  color: #fff;
  font-size: 18px;
}

.categorie-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  padding: 0px 10px;
  border-radius: 15px;
  background-color: #3C3B3B;
}

.categorie-img {
  width: 40%;
}

.categorie-content {
  width: 60%;
  color: #fff;
  text-align: center;
}

.video-container {
  padding: 0px 30px;
}

.video-wrapper {
  display: flex;
  align-items: center;

  padding: 20px 20px;
  border-radius: 15px;
  background-color: #494848;
}

.qr-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px 50px;
  border-radius: 15px;
  background-color: #494848;
}

.qr-code {
  width: 100%;
  border-radius: 5px;
}

/* responsive

@media only screen and (min-width: 321px) and (max-width: 799px)
{
    body {
        width: 100%;
        font-size: 0.9em;
        position: absolute;
    }
}

@media screen and (max-width: 1000px)
{
    body {
        height: 100%;
    }
} */

.coin-arrondi{
  border-bottom-left-radius : 10px;
  border-bottom-right-radius : 10px;
  border-top-left-radius : 10px;
  border-top-right-radius : 10px;
}

.lien {
  text-decoration: none;
  color: #fff;
}


.behindCase {
  width: 80%;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  position: relative;
  background: #fff;
  border-radius: 10px;
  padding-bottom:50px;
} 

.inFrontOfCase{
  z-index: 5;
  padding: 5px 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  margin-top:-45px;
  margin-left:50px;
  background-color: rgba(153, 24, 24, 0.3);  
}

.case > h3{
  color: #CB0B0B;
  text-transform: capitalize;
  font-weight: bold;
  font-size:xx-large;
  font-style: italic;
  text-align: center;
}

.categorie{
    border: 3px solid #28282d;
    border-radius: 1em;
    box-shadow: -5px 5px 0px 0px #28282d;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
}

.nom_categ{
    color: #28282d;
}

.cont {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    width: 90%;
    margin: auto;
    margin-top: 90%;
  }
  
  

  #avatar {
    display: absolute;
    transition: all 0.75s ease-in;
    transform: translateY(0);
    z-index: 10;
    cursor: pointer;
  }
  
  #avatar img {
    border-radius: 100%;
    border: 4px solid var(--primary-color);
    width: 128px;
    height: 128px;
  }
  
#author {
    position: absolute;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
} */

.coin-arrondi{
    border-bottom-left-radius : 10px;
    border-bottom-right-radius : 10px;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
  }


  .zoomOut{
    animation: zoom-out .9s ease-out;
  }


  @keyframes zoom-out {
    0% {
      transform: scale(0, 0);
    }
    100% {
      transform: scale(2, 2);
    }
  }

  